* {
  font-style: monospace;
  color: #424242


}
body {
background-color: #FAFAFA;
font-family: monospace;
margin-top: 0;
padding-top: 0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  background-color:#D7CCC8;
  padding: 2em;
  font-weight: 100;
  width: 18em;
  margin: auto;
  margin-top: 0

}
h2 {
  text-align: center;
  margin: 1.2em;
  margin-bottom: .4em;
  font-family: monospace;
  font-size: 2.1em;
}
h3 {
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
  font-family: serif;
  font-weight: 100;

}

a {
  text-decoration: none;
  color: #827867;
}
.homepagemenu {
  text-align: center;
  font-size: 1em;
  margin-top: 1.5em;
  font-family: serif;
  font-weight: 300
}
.homebox {
  padding: 1.6em;
  border-top-style: solid;
  border-top-width: thick;
  border-top-color:   #6b685c;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-color:   #6b685c;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 5em;
  width: 48em;
}
#left {
  width: 15%;
  float: left;
  margin-left: 13%;
  }
#center {
  width: 40%;
  float: left;
  margin-left: 2%;
  height: 100%;
  margin-bottom: 10%

}
#right {
  width: 20%;
  float: left;
}
.menu {
    margin: auto;
    display: inline-block;
    text-align: left;
    font-size: 1.5em;
    font-family: serif;
    font-weight: 100;
  }
  .mainpara {
    margin: auto;
    display: inline-block;
    font-family: sans-serif;
    font-family: monospace;
    text-align: justify;
    font-size: 1.4em;

  }

#italic {
  font-style: italic;
  font-size: 1em;
}

footer {
  background-color: #D7CCC8;
  margin: auto;
  padding: 1.5em;
  text-align: center;
  height: 3em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  clear: both;
}
