body {
  font-weight: 300;
  font-family:'Raleway', sans-serif;
  font-size: 1.6em;
}
a {
  text-decoration: none;
  color: rgb(77, 52, 5)
}
h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: 100;
  font-size: 4rem;
  border-color: rgb(226, 155, 81);
  border-radius: 50%;
  border-style:solid;
  padding: 1em;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 6%
}
h2 {
  text-align: center;
  font-size: 2em;
}

ul {
  list-style: none;
}
.navbar-list {
margin-top: 6%;
margin-left: 3%
}
.navbar-item {
  float: left;
  padding: 1em;
}
.mainimage img {
  max-height: 200px;
  border-radius: 50%;
  box-sizing: border-box;
  max-width: 100%;
  }
  p img{
    max-height: 240px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 5%;
    float: left;
    margin: 3%

    }
.blogs {
  padding: 5%;
  background-color:  rgba(255, 200, 37, 0.2);
}
td {
  text-align: center;
}
.blogposttext {
  text-align: justify;
  padding: 5%
}

.mainhead {
  padding: 3%
}
.blogseven {
  background-color:
  padding-bottom: 5%;
  padding-top: 5%;
}
.blogsix {
  background-color: rgba(96, 174, 237, 0.2);
  padding-bottom: 5%;
  padding-top: 5%;
  }
  .wireframe {
    max-height: 100px;
    max-width: 100px;
    box-sizing: border-box;
    max-width: 100%;
    float: left;
  }
.blogfive {
  padding-bottom: 5%;
  padding-top: 5%;

}
.blogfour {
  background-color: rgba(217, 179, 217, 0.3);
  padding-bottom: 5%;
  padding-top: 5%;
}
.blogthree {
  padding-bottom: 5%;
  padding-top: 5%;
}
.blogtwo {
  background-color: rgba(26, 150, 14, 0.2);
  padding-bottom: 5%;
  padding-top: 5%;
}
.blogone {
  padding-bottom: 5%;
  padding-top: 5%;
}
.contact {
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: rgba(255, 200, 37, 0.2);
}
.about {
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: rgba(255, 200, 37, 0.2);
}
