
* {
  font-style: monospace;
  color: #424242

}
body {
background-color: #FAFAFA;
margin: 0em;
padding: 0em;
font-family: monospace;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  background-color:#D7CCC8;
  padding: 2em;
  font-weight: 100;
  width: 18em;
  margin: auto;
}
h2 {
  text-align: center;
  margin: 1.2em;
  margin-bottom: .4em;
  font-family: monospace;
  font-size: 2.2em;
}
h3 {
  text-align: center;
  font-weight: 100;
  font-size: 1.6em;

}

a {
  text-decoration: none;
  color: #827867;
}
.homepagemenu {
  text-align: center;
  font-size: 1.4em;
  margin-top: 1.5em;
}
.homebox {
  padding: 1.6em;
  border-top-style: solid;
  border-top-width: thick;
  border-top-color:   #6b685c;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-color:   #6b685c;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 47em;
}
.flex-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  background-color: #e6e3d9;
  height: 33em;
  width: 90em;
  margin-bottom: 10em;
  margin-right: 80em;
  margin-left: 5em;
}
.menu {
    display: flex;
    display: inline-block;
    flex-direction: column;
    align-self: flex-start;
    align-content: flex-start;
    font-size: 2em;
    width: 14em;
    padding-bottom: 5em
  }

  .mainpara {
    display: flex;
    display: inline-block;
    font-family: sans-serif;
    width: 40em;


    }

  .menu2 {
    font-size: 20px;
    display: inline-block;
    float: left;
    padding-left: 140px;

    }
  .mainpara2 {
    width: 500px;
    margin: auto;
    display: inline-block;
    float: right;
    padding-right: 32.5%;
    padding-bottom: 100px
    text-align:justify;
        }

#italic {
  font-style: italic;
  font-size: 1em;
}

footer {
  background-color: #D7CCC8;
  margin: auto;
  padding: 1.5em;
  text-align: center;
  height: 3em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
